<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880362156926-8759rj7mlvvd2n3gl1ekgfqdrkfqrieo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880362156926-8759rj7mlvvd2n3gl1ekgfqdrkfqrieo</string>
	<key>API_KEY</key>
	<string>AIzaSyCljscyEwYdCiTSWKQulAx6mPB0_R1GbCc</string>
	<key>GCM_SENDER_ID</key>
	<string>880362156926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ginseng.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-b5aa7</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-b5aa7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880362156926:ios:1fff2ac8c46aa7dcf2b92f</string>
</dict>
</plist>